.formulario__login--bg {
    border-radius: 2rem;
    max-width: 400px;  
    min-width: 210px;
    width: 100%;  
}
.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }

  .sub_title {
    font-weight: 600;
    margin: 5px 0;
  }

  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }

  .cardShadow{
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.8); 
  }
  

.createAcountButton {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid royalblue;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   .createAcountButton::before,
   .createAcountButton::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .createAcountButton::before {
    left: -10px;
    background:royalblue;
   }
   
   .createAcountButton::after {
    right: -10px;
    background:royalblue;
   }
   
   .createAcountButton:hover::before,
   .createAcountButton:hover::after {
    width: 58%;
   }
   
   .createAcountButton:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .createAcountButton span {
    color: rgb(56, 90, 194);
    font-size: 18px;
    transition: all 0.3s ease-in;
   }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .login_singupButton {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: royalblue;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .login_singupButton:hover {
    opacity: 0.95;
  }
  
  .login_singupButton .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }
  