.home__section-3 {
  min-height: 40vh;
  padding: 100px 0px;
}

/* Estilos para las tarjetas dentro de .home__section-3 */
.home__section-3 .card {
  display: flex;
  flex-direction: row;
  background-color: #212529; /* Fondo oscuro */
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.home__section-3 .card img {
  object-fit: cover;
}

/* Primera tarjeta con imagen más grande */
.home__section-3 .card:first-child img {
  width: 60%;
}

/* Otras tarjetas con imagen estándar */
.home__section-3 .card:not(:first-child) img {
  width: 50%;
}

/* Ajustes del contenido de la tarjeta */
.home__section-3 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

/* Títulos dentro de la tarjeta */
.home__section-3 .card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Texto dentro de la tarjeta */
.home__section-3 .card-text {
  font-size: 1rem;
  flex-grow: 1;
  text-align: left;
}

/* Estilos específicos para los botones */
.home__section-3 .btn-warning {
  align-self: start;
  transition: all 0.3s ease-in-out;
}

/* Efecto de iluminación en hover */
.home__section-3 .btn-warning:hover {
  box-shadow: 0 0 15px rgba(255, 193, 7, 0.8);
  transform: scale(1.05);
}

.home__section-3 .card-img-left {
  width: 60%;
}